<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <script type="text/javascript" src="{%static 'js/jquery.js'  %}"></script>
    <script>
        $(function () {
            $(".confirm").click(function () {
                console.log("change state");
                var $confirm = $(this);
                var $li = $confirm.parents("li");
                var cartid = $li.attr('cartid');
                $.getJSON("/mm_order/changecartstate/",{'cartid':cartid},function (data) {
                    console.log(data);
                    $("#total_price").html(data['total_price']);
                    if (data['cart_is_select']){
                        $confirm.find('input').prop("checked",true);
                    }else{
                        $confirm.find('input').prop("checked", false);
                    }
                    if(data['is_all_select']){
                        $(".all_select input").prop("checked",true);
                    }else{
                        $(".all_select input").prop("checked", false);
                    }
                })
            })
            $(".addshopping").click(function () {
                var $add = $(this);
                var $li = $add.parents("li");
                var cartid = $li.attr("cartid");
                $.getJSON("/mm_order/addcart/",{"cartid":cartid},function (data) {
                    console.log(data);
                    $("#total_price").html(data['total_price']);
                    $add.prev('span').html(data['cart_foods_num']);
                })
            })
            $(".subshopping").click(function () {
                var $sub = $(this);
                var $li = $sub.parents("li");
                var cartid = $li.attr("cartid");
                $.getJSON("/mm_order/subcart/",{"cartid":cartid},function (data) {
                    console.log(data)
                    $("#total_price").html(data['total_price']);
                     if(data["cart_foods_num"]>0){
                         $sub.next('span').html(data['cart_foods_num']);
                     }else{
                         $li.remove();
                     }
                })
            })
            $(".all_select").click(function () {
                var $all_select = $(this);
                if($all_select.find("input").prop("checked")){
                    $all_select.find('input').removeAttr("checked", true);
                }else {
                     $all_select.find('input').prop("checked",true);
                }
                var unselect_list = []
                $(".confirm").each(function () {
                    var $confirm = $(this);
                    var cartid = $confirm.parents("li").attr("cartid");
                    if(!($confirm.find("span").find('input').prop("checked"))){
                        unselect_list.push(cartid);
                    }
                })
                if(unselect_list.length > 0){
                    $.getJSON("/mm_order/allselect/",{"cart_list":unselect_list.join("#")},function (data) {
                        console.log(data);
                        $(".confirm").find("span").find('input').prop("checked",true);
                        $all_select.find('input').removeAttr("checked", true);
                        $("#total_price").html(data["total_price"]);
                    })
                }
            })
            $("#make_order").click(function () {
                var select_list = [];
                $(".confirm").each(function () {
                    var $confirm = $(this);
                    var cartid = $confirm.parents("li").attr("cartid");
                    if($confirm.find("input").prop("checked")){
                        select_list.push(cartid);
                    }
                })
                if(select_list.length === 0){
                    alert("未选中任何条目，不能下单！");
                    return;
                }
                $.getJSON("/mm_order/makeorder/",function (data) {
                    console.log(data);
                    window.open("/mm_order/orderdetail/?orderid=" + data['order_id'],target="_self");
                })
            })
        })
    </script>
</head>
<body>
    <section>
        <div>
            <a href="#" style="font-size: 30px">首页</a>
            <a href="{% url 'mm_order:shop' %}" class="shop" style="font-size: 30px">&nbsp&nbsp点餐&nbsp&nbsp</a>
            <a href="{% url 'mm_order:go_cart' %}" class="shop" style="font-size: 30px">&nbsp&nbsp购物车&nbsp&nbsp</a>
            <a href="{% url 'mm_order:mine' %}" class="cart" style="font-size: 30px">&nbsp&nbsp个人中心&nbsp&nbsp</a>
            <div class="full">
                <ul style="height: 100px;width: 1400px;font-size: 20px;background-color: #f0e000">
                    <li>收&nbsp;&nbsp;货&nbsp;&nbsp;人:&nbsp;{{ user }}</li>
                    <li>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:&nbsp;110</li>
                    <li>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:&nbsp;宝盛里</li>
                </ul>
                {% for cart in carts %}
                    <li class="menuList" cartid="{{ cart.id }}" style="list-style-type: none">
                        <div style="width: 1400px;height: 250px;">
                            <div style="padding: 100px 0;box-sizing: border-box;text-align: center;float: left" class="confirm">
                                <span >
                                    <input type="checkbox" style="font-size: 40px;width: 60px;height: 60px" checked>
                                </span>
                            </div>
                            <a href="#">
                                <img src="{{ cart.foods.fimg }}" alt="{{ cart.foods.fname }}" style="float: left;padding-left: 50px">
                                <p style="font-size: 40px;">{{ cart.foods.fname }}</p>
                                <p style="font-size: 40px;">¥{{ cart.foods.fprice }}</p>
                            </a>


                            <div style="float: right;height: 150px; padding-right: 150px">
                                <button class="subshopping" style="font-size: 40px;width: 60px;height: 60px">-</button>
                                <span style="font-size: 60px">{{ cart.cart_foods_num }}</span>
                                <button class="addshopping" style="font-size: 40px;width: 60px;height: 60px">+</button>
                            </div>
                        </div>

                    </li>
                    <hr/>
                    {% endfor %}
                    <div class="payTheBill" style="width: 1200px;height: 300px;">
                        <div class="all_select" style="padding: 20px 0;box-sizing: border-box;text-align: center;float: left">
                            <span style="padding-bottom: 100px">
                                <input type="checkbox" style="font-size: 40px;width: 60px;height: 60px" checked>
                                <span style="font-size: 60px;">全选</span>
                            </span>
                        </div>

                        <p style="float: left;padding: 150px 0px">
                            <span style="font-size: 60px">共计:</span>
                            <span id="total_price" style="font-size:60px;">&nbsp¥{{ total_price }}</span>
                        </p>
                        <section style="float: right;height: 40px;font-size: 150px; padding-left:200px">
                            <button id="make_order" style=";background-color: red; font-size: 150px">下单</button>
                        </section>
                    </div>
            </div>
        </div>
    </section>

</body>
</html>